div(class="row")
  div(class="col-md-9 col-sm-8 col-xs-7")
    header 
      nav(class="navbar-collapse") 
        ul(class="nav navbar-nav")
          li
            a(href="#", title="title").hamburger 

  div(class="col-md-3 col-sm-4 col-xs-5")
    header test
